@import "~bootstrap/dist/css/bootstrap.min.css";

.colorBlock {
  height: 200px;
  width: 200px;
}
.pair {
  background: black;
}

.singleOne {
  background: green;
}

.singleTwo {
  background: purple;
}

.group {
  display: flex;
}
